.toolbar-title {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
}

.warning-text {
  color: map-get($colors, danger) !important;
}

.message {
  margin: 20px;
  padding: 20px;
  background-color: map-get($colors, light);
  font-size: 0.8em;
}
* {margin: 0; padding:0;}
body {
background: url(../assets/imgs/body-bg.png);
background-repeat: repeat;
background-size: cover;
background-position: center;
}

.gp-main{background-color: transparent !important;}
.gp-main .ion-page.show-page ~ .nav-decor{
     background: transparent !important;}

.alert-md .alert-wrapper {
border-radius: 2px;
max-width: 280px;
background-color: #fafafa;
-webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
border-radius: 10px;
}
.alert-md .alert-title,
.alert-md .alert-message{text-align:center;}
.alert-md .alert-button{ color:#000;}
.alert-md .alert-button-group{border-top:1px solid #dcdbdb;}

.loading-md .loading-wrapper{background:transparent !important;}

    .loading-md .loading-wrapper{background:transparent !important;box-shadow: none !important;}
    .loading-wrapper {color: #000; background:transparent !important;box-shadow: none !important;padding:0 !important;}
    .loading-wrapper .loading-content{width:50px;}
    .loading-wrapper .loading-content img{width: 100%;}

    
    @media all and (display-mode: standalone) {
      body {
        background-color: yellow;
      }
    }