// http://ionicframework.com/docs/theming/

// @import "assets/fonts/1709-TPUDVO.css";



* {margin: 0; padding:0;}
body {
background: url(../assets/imgs/body-bg.png);
background-repeat: repeat;
background-size: cover;
background-position: center;
}

.gp-main{background-color: transparent !important;}
.gp-main .ion-page.show-page ~ .nav-decor{
     background: transparent !important;}

.alert-md .alert-wrapper {
border-radius: 2px;
max-width: 280px;
background-color: #fafafa;
-webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
border-radius: 10px;
}
.alert-md .alert-title,
.alert-md .alert-message{text-align:center;}
.alert-md .alert-button{ color:#000;}
.alert-md .alert-button-group{border-top:1px solid #dcdbdb;}
.loading-md .loading-wrapper{background:transparent !important;}

    .loading-md .loading-wrapper{background:transparent !important;box-shadow: none !important;}
    .loading-wrapper {color: #000; background:transparent !important;box-shadow: none !important;padding:0 !important;}
    .loading-wrapper .loading-content{width:50px;}
    .loading-wrapper .loading-content img{width: 100%;}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app. 


