    /*
    Flaticon icon font: Flaticon
    Creation date: 20/06/2018 10:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-multiply:before { content: "\f100"; }
.flaticon-tick:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-pass:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-tag:before { content: "\f105"; }
.flaticon-discount-voucher:before { content: "\f106"; }
.flaticon-coupon:before { content: "\f107"; }
.flaticon-cutting-out-dollar-symbol:before { content: "\f108"; }
.flaticon-handshake:before { content: "\f109"; }
.flaticon-bar-chart:before { content: "\f10a"; }
.flaticon-1234:before { content: "\f10b"; }
.flaticon-logout-1:before { content: "\f10c"; }
.flaticon-logout:before { content: "\f10d"; }
.flaticon-user-1:before { content: "\f10e"; }
.flaticon-phone-receiver:before { content: "\f10f"; }
.flaticon-skype-logo:before { content: "\f110"; }
.flaticon-magnifying-glass-1:before { content: "\f111"; }
.flaticon-magnifying-glass:before { content: "\f112"; }
.flaticon-group-1:before { content: "\f113"; }
.flaticon-employee:before { content: "\f114"; }
.flaticon-placeholder:before { content: "\f115"; }
.flaticon-collaboration:before { content: "\f116"; }
.flaticon-small-calendar:before { content: "\f117"; }
.flaticon-partner:before { content: "\f118"; }
.flaticon-user:before { content: "\f119"; }
.flaticon-candidates:before { content: "\f11a"; }
.flaticon-group:before { content: "\f11b"; }
.flaticon-pie-chart:before { content: "\f11c"; }
.flaticon-reading:before { content: "\f11d"; }
.flaticon-profile:before { content: "\f11e"; }
.flaticon-padlock:before { content: "\f11f"; }
    
    $font-Flaticon-multiply: "\f100";
    $font-Flaticon-tick: "\f101";
    $font-Flaticon-close: "\f102";
    $font-Flaticon-pass: "\f103";
    $font-Flaticon-list: "\f104";
    $font-Flaticon-tag: "\f105";
    $font-Flaticon-discount-voucher: "\f106";
    $font-Flaticon-coupon: "\f107";
    $font-Flaticon-cutting-out-dollar-symbol: "\f108";
    $font-Flaticon-handshake: "\f109";
    $font-Flaticon-bar-chart: "\f10a";
    $font-Flaticon-1234: "\f10b";
    $font-Flaticon-logout-1: "\f10c";
    $font-Flaticon-logout: "\f10d";
    $font-Flaticon-user-1: "\f10e";
    $font-Flaticon-phone-receiver: "\f10f";
    $font-Flaticon-skype-logo: "\f110";
    $font-Flaticon-magnifying-glass-1: "\f111";
    $font-Flaticon-magnifying-glass: "\f112";
    $font-Flaticon-group-1: "\f113";
    $font-Flaticon-employee: "\f114";
    $font-Flaticon-placeholder: "\f115";
    $font-Flaticon-collaboration: "\f116";
    $font-Flaticon-small-calendar: "\f117";
    $font-Flaticon-partner: "\f118";
    $font-Flaticon-user: "\f119";
    $font-Flaticon-candidates: "\f11a";
    $font-Flaticon-group: "\f11b";
    $font-Flaticon-pie-chart: "\f11c";
    $font-Flaticon-reading: "\f11d";
    $font-Flaticon-profile: "\f11e";
    $font-Flaticon-padlock: "\f11f";