	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/06/2018 10:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?49931327');
  src: url('fontello.eot?49931327#iefix') format('embedded-opentype'),
       url('fontello.woff2?49931327') format('woff2'),
       url('fontello.woff?49931327') format('woff'),
       url('fontello.ttf?49931327') format('truetype'),
       url('fontello.svg?49931327#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;  
  line-height: 1em; 
  margin-left: .2em; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.fontello-leave:before { content: '\e800'; } 



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ru93ea');
  src:  url('fonts/icomoon.eot?ru93ea#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ru93ea') format('truetype'),
    url('fonts/icomoon.woff?ru93ea') format('woff'),
    url('fonts/icomoon.svg?ru93ea#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support:before {
  content: "\e900";
}





@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}



.flaticon-multiply:before { content: "\f100"; }
.flaticon-tick:before { content: "\f101"; }
.flaticon-close:before { content: "\f102"; }
.flaticon-pass:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-tag:before { content: "\f105"; }
.flaticon-discount-voucher:before { content: "\f106"; }
.flaticon-coupon:before { content: "\f107"; }
.flaticon-cutting-out-dollar-symbol:before { content: "\f108"; }
.flaticon-handshake:before { content: "\f109"; }
.flaticon-bar-chart:before { content: "\f10a"; }
.flaticon-1234:before { content: "\f10b"; }
.flaticon-logout-1:before { content: "\f10c"; }
.flaticon-logout:before { content: "\f10d"; }
.flaticon-user-1:before { content: "\f10e"; }
.flaticon-phone-receiver:before { content: "\f10f"; }
.flaticon-skype-logo:before { content: "\f110"; }
.flaticon-magnifying-glass-1:before { content: "\f111"; }
.flaticon-magnifying-glass:before { content: "\f112"; }
.flaticon-group-1:before { content: "\f113"; }
.flaticon-employee:before { content: "\f114"; }
.flaticon-placeholder:before { content: "\f115"; }
.flaticon-collaboration:before { content: "\f116"; }
.flaticon-small-calendar:before { content: "\f117"; }
.flaticon-partner:before { content: "\f118"; }
.flaticon-user:before { content: "\f119"; }
.flaticon-candidates:before { content: "\f11a"; }
.flaticon-group:before { content: "\f11b"; }
.flaticon-pie-chart:before { content: "\f11c"; }
.flaticon-reading:before { content: "\f11d"; }
.flaticon-profile:before { content: "\f11e"; }
.flaticon-padlock:before { content: "\f11f"; }






