  // .my-class {
  //   background-color: transparent;
  //   box-shadow: none;
  // }
  ion-loading{

.loading-wrapper {
color: #000;
background:#fff !important;
padding:0 !important;
}
    .loading-wrapper .loading-content{width:50px;}
    .loading-wrapper .loading-content img{width: 100%;}
  }
