<ion-header>
  <ion-navbar class="navbar-info">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div class="logo">
            <img src="assets/imgs/logogenp.png" />
          </div>
        </ion-col>
        <ion-col col-5>
          <div class="title-box GuardianEgyp-Medium-Web"> My App</div>
        </ion-col>
        <ion-col col-4 style="text-align: right">          
          <div class="right-info" (click)="logout()">
            <i class="flaticon-logout-1"></i>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="main-container">
  <ion-grid class="app-dashboard">
    <ion-row>
      <ion-col col-6>
        <ion-card class="app-card card-bg-berder-1" (click)="goNext()">
          <div class="app-card-icon">
            <img src="assets/imgs/logogenp.png">
          </div>
          <div class="app-card-content">
            <h2 class="GuardianEgyp-Medium-Web">My Page</h2>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="app-card card-bg-berder-2" (click)="openChatbot()">
          <div class="app-card-icon">
            <i class="icon-support"></i>            
          </div>
          <div class="app-card-content">
            <h2 class="GuardianEgyp-Medium-Web">Chatbot</h2>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="app-card card-bg-berder-2">
          <div class="app-card-icon">
            <i class="flaticon-handshake"></i>
          </div>
          <div class="app-card-content">
            <h2 class="GuardianEgyp-Medium-Web">Corporate Communication</h2>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="app-card card-bg-berder-3">
          <div class="app-card-icon">
            <i class="flaticon-tag"></i>
          </div>
          <div class="app-card-content">
            <h2 class="GuardianEgyp-Medium-Web">Gdeals</h2>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>