page-app-dashboard {
.header{ background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
.navbar-info .toolbar-background-ios,
.navbar-info .toolbar-background-md{border:none;background:transparent;}
.userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
.userprofile img{width: 100%;border-radius: 50%;}
.right-info{display: inline-block;    vertical-align: middle;}
.main-container {background: transparent;}

.logo img{ height: 40px;}
.title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
.right-info {padding: 10px 0;}
.right-info i{font-size: 25px;color: #74848e;}
.app-card {padding: 10px; border-radius:5px; text-align: center;margin: 0;width: 100%;-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);}

.card-bg-berder-1{ border:1px solid #fe555e;  min-height: 150px;display: flex; align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;} 
.card-bg-berder-2{ border:1px solid #00aed0;min-height: 150px; display: flex;align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.card-bg-berder-3{ border:1px solid #083262; min-height: 150px; display: flex; align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;} 

.app-card-icon{ margin-bottom: 10px;}
.card-bg-berder-1 .app-card-icon i {font-size: 55px; color: #fe555e;}
.card-bg-berder-2 .app-card-icon i {font-size: 55px; color: #00aed0;}
.card-bg-berder-3 .app-card-icon i {font-size: 55px; color: #083262;}
.app-card-icon img {width: 30px;margin:0 auto 15px;}
.card-bg-berder-1 .app-card-content h2{ color: #fe555e; font-size: 20px;}
.card-bg-berder-2 .app-card-content h2{ color: #00aed0; font-size: 20px;}
.card-bg-berder-3 .app-card-content h2{ color: #083262; font-size: 20px;}
}
