<ion-content>
    <ion-item>
        <p class="fieldsvalue">Please make Pre-payment by choosing your preferred payment mode and updating the required fields, as indicated</p>
    </ion-item>
    <form [formGroup]="credentialsForm" (ngSubmit)="verify()">
        <ion-card class="soft-loan-card">
            <ion-list class="login-form-list">
                <ion-item class="login-form-control">
                    <ion-input type="text" placeholder="Outstanding Balance" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                </ion-item>
                <ion-item class="login-form-control">
                    <ion-label>Payment Mode</ion-label>
                    <ion-select formControlName="user_payment" [(ngModel)]="paymentType" (ionChange)="onChange(paymentType)" [ngModelOptions]="{standalone: true}">
                        <ion-option value="oneH">NEFT/IMPS</ion-option>
                        <ion-option value="twoH">DD/Cheque</ion-option>
                        <ion-option value="threeH">Payroll Deduction</ion-option>
                    </ion-select>
                </ion-item>
                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_payment.touched  && (!credentialsForm.controls.user_payment.valid)">
                        Please select atleast one payment Mode
                    </p>
                    <ion-item class="login-form-control" *ngIf="value==0">
                        <ion-input type="text" placeholder="Genpact Account" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                    </ion-item>
                    <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                        Please enter mendatory field
                    </p> -->
                        <ion-item class="login-form-control"  *ngIf="value==0">
                            <ion-input type="text" placeholder="Bank Name" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                        </ion-item>
                        <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                            Please enter mendatory field
                        </p> -->
                            <ion-item class="login-form-control" *ngIf="value==0">
                                <ion-input type="text" placeholder="Bank  Account Name" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                            </ion-item>
                            <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                                Please enter mendatory field
                            </p> -->
                                <ion-item class="login-form-control" *ngIf="value==0">
                                    <ion-input type="text" placeholder="IFSC code" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                                </ion-item>
                                <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                                    Please enter mendatory field
                                </p> -->
                                <ion-item class="login-form-control" *ngIf="value==1">
                                    <ion-input type="text" placeholder="Genpact Account" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                                </ion-item>
                                    <ion-item class="login-form-control"  *ngIf="value==1">
                                        <ion-input type="text" placeholder="Beneficiary Name" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                                    </ion-item>
                                    <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                                        Please enter mendatory field
                                    </p> -->
            
                                    <ion-item class="login-form-control" *ngIf="value==2">
                                            <ion-input type="text" placeholder="Payroll Deduction Month" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                                        </ion-item>
                                        <!-- <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                                            Please enter mendatory field
                                        </p> -->
                                    <ion-item class="login-form-control" *ngIf="value!=2">
                                        <!-- <ion-label>floating>Installment Amount</ion-label> -->
                                        <ion-input type="text" placeholder="Transaction/DD/Cheque Number" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_transaction"></ion-input>
                                    </ion-item>
                                    <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_transaction.touched  && (!credentialsForm.controls.user_transaction.valid)">
                                        Please enter Transaction/DD/Cheque Number
                                    </p>
                                    <ion-item class="login-form-control" *ngIf="value!=2">
                                        <!-- <ion-label>Date</ion-label>
                                        <ion-input type="date" (input)="date = $event.target.value" formControlName="user_date"></ion-input> -->
                                        <ion-label>Date</ion-label>
                                        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" [ngModelOptions]="{standalone: true}">
                                                </ion-datetime>
                                                <ion-icon name="calendar"></ion-icon>
                                    </ion-item>
                                    <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_date.touched  && (!credentialsForm.controls.user_date.valid)">
                                        Please select date
                                    </p>
                                    <ion-item class="login-form-control">
                                        <!-- <ion-label>floating>Installment Amount</ion-label> -->
                                        <ion-input type="text" placeholder="Amount" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_amount"></ion-input>
                                    </ion-item>
                                    <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_amount.touched  && (!credentialsForm.controls.user_amount.valid)">
                                        Please enter Amount
                                    </p>
                                </ion-list>
                                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="showResultMessage">
                                    {{message}}
                                </p>
                                <div class="login-form-control">
                                    <button ion-button full type="submit" class="GuardianEgyp-Semibold-Web btnlogin">
                                        <ion-icon name="favicon"></ion-icon>Submit
                                    </button>
                                </div>
        </ion-card>
    </form>
</ion-content>