page-pre-payment-loan {
    .soft-loan-card {padding: 10px;margin: 0 0 20px 0;width: 100%; box-shadow: none;}
    .soft-loan-card input{ padding: 10px 0; margin: 0;}
    .soft-loan-card .button {background: #FF545E;border-radius: 2px;width: 100%;margin: 20px auto 15px auto;}
    .fieldsvalue{ color: #F44336;border-bottom: 0px solid #c8c7cc}
    .item-block .item-inner {
        
    }
}
