<ion-content>
    <ion-item>
        <p class="fieldsvalue">Only band 5 eployees are eligible to apply for soft loan</p>
    </ion-item>
    <form [formGroup]="credentialsForm" (ngSubmit)="verify()">
        <ion-card class="soft-loan-card">
            <ion-list class="login-form-list">
                <ion-item class="login-form-control">
                    <!-- <ion-label>Outstanding Balance</ion-label> -->
                    <ion-input type="text" placeholder="Outstanding Balance" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                </ion-item>
                <ion-item class="login-form-control">
                    <ion-label>Loan Amount Applied</ion-label>
                    <ion-select formControlName="loan_amount" [(ngModel)]="paymentType" (ionChange)="onChange(paymentType)" [ngModelOptions]="{standalone: true}">
                        <ion-option value="oneH">10000.00</ion-option>
                        <ion-option value="twoH">9000.00</ion-option>
                        <ion-option value="threeH">8000.00</ion-option>
                        <ion-option value="fourH">7000.00</ion-option>
                        <ion-option value="fiveH">6000.00</ion-option>
                        <ion-option value="sixH">5000.00</ion-option>
                        <ion-option value="sevenH">4000.00</ion-option>
                        <ion-option value="eightH">3000.00</ion-option>
                        <ion-option value="nineH">2000.00</ion-option>
                        <ion-option value="tenH">1000.00</ion-option>
                    </ion-select>
                </ion-item>
                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.loan_amount.touched  && (!credentialsForm.controls.loan_amount.valid)">
                    Please select atleast one amount
                </p>
                <ion-item class="login-form-control">
                    <ion-label>Installments</ion-label>
                    <ion-select formControlName="install_amount" [(ngModel)]="paymentType" (ionChange)="onChange(paymentType)" [ngModelOptions]="{standalone: true}">
                        <ion-option value="one">1</ion-option>
                        <ion-option value="two">2</ion-option>
                        <ion-option value="three">3</ion-option>
                        <ion-option value="four">4</ion-option>
                        <ion-option value="five">5</ion-option>
                        <ion-option value="six">6</ion-option>
                        <ion-option value="seven">7</ion-option>
                        <ion-option value="eight">8</ion-option>
                        <ion-option value="nine">9</ion-option>
                        <ion-option value="ten">10</ion-option>
                        <ion-option value="eleven">11</ion-option>
                        <ion-option value="twelve">12</ion-option>
                        <ion-option value="thirteen">13</ion-option>
                        <ion-option value="fourteen">14</ion-option>
                        <ion-option value="fifteen">15</ion-option>
                        <ion-option value="sixteen">16</ion-option>
                        <ion-option value="seventeen">17</ion-option>
                        <ion-option value="eighteen">18</ion-option>
                        <ion-option value="nineteen">19</ion-option>
                        <ion-option value="twenty">20</ion-option>
                    </ion-select>
                </ion-item>
                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.install_amount.touched  && (!credentialsForm.controls.install_amount.valid)">
                    Please select atleast one Installment
                </p>
                <ion-item class="login-form-control">
                    <ion-input type="text" placeholder="Installment Amount"  class="form-cantrol GuardianEgyp-Regular-Web"  formControlName="user_password"></ion-input>
                </ion-item>
            </ion-list>
            <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="showResultMessage">
                {{message}}
            </p>
            <div class="login-form-control">
            <button ion-button full type="submit" class="GuardianEgyp-Semibold-Web btnlogin">
                <ion-icon name="favicon"></ion-icon>Submit
            </button>
            </div>
        </ion-card>
    </form>
</ion-content>