<ion-header>
    <ion-navbar class="navbar-info">
        <ion-grid>
            <ion-row>
            <ion-col col-2>
                <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
            </ion-col>
            <ion-col  col-6>
                <div class="title-box GuardianEgyp-Medium-Web" > My Page</div>
            </ion-col>
            <ion-col  col-4 style="text-align: right">
                <div class="userprofile">
                    <img src="assets/imgs/userdefault.jpg">
                </div>
                <div class="right-info" (click)="logout()">
                    <i class="flaticon-logout-1" ></i>
                </div>
            </ion-col>
            </ion-row>
        </ion-grid>      
    </ion-navbar>
</ion-header>
<ion-content>
        <super-tabs [scrollTabs]="scrollTabs">
                <super-tab [root]="tab1Root" title="BASIC DETAILS"></super-tab>
                <super-tab [root]="tab2Root" title="PERSONAL DETAILS"></super-tab>
                <super-tab [root]="tab3Root" title="ORGANISATIONAL DETAILS"></super-tab>
                <super-tab [root]="tab4Root" title="MANAGER VIEW"></super-tab>

              </super-tabs>

  <!-- <ion-tabs #ionTabs [scrollable-tabs]="ionTabs" tabsPlacement="top">   
    <ion-tab [root]="tab1Root" tabTitle="BASIC DETAILS"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="PERSONAL DETAILS"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="ORGANIZATIN DETAILS"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="MANAGER VIEW"></ion-tab>
  </ion-tabs> -->


</ion-content>