<ion-header>
    <ion-navbar class="navbar-info">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
                <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
            </ion-col>
            <ion-col  col-6>
                <div class="title-box GuardianEgyp-Medium-Web" > My Page</div>
            </ion-col>
            <ion-col  col-4 style="text-align: right">
                <div class="userprofile" (click)="goProfile()">
                    <img src="assets/imgs/userdefault.jpg">
                </div>
                <div class="right-info" (click)="logout()">
                  <i class="flaticon-logout-1" ></i>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>      
    </ion-navbar>
</ion-header>
<ion-content class="main-container">
    <ion-grid class="dash-dashboard">
          <ion-row>
            <ion-col col-6>
              <ion-card class="dash-card dash-bg-berder-1"  (click)="goLearning()">
                <div class="dash-card-icon"><i class="flaticon-reading"></i></div>
                <div class="dash-card-content">
                  <h2 class="GuardianEgyp-Medium-Web">My Learning</h2>
                </div>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card class="dash-card dash-bg-berder-2" (click)="goWork()">
                <div class="dash-card-icon"><i class="flaticon-pie-chart"></i></div>
                <div class="dash-card-content">
                  <h2 class="GuardianEgyp-Medium-Web">Work History</h2>
                </div>
              </ion-card>
            </ion-col>
             <ion-col col-6>
              <ion-card class="dash-card dash-bg-berder-3" (click)="goLeave()">
                <div class="dash-card-icon"><i class="fontello-leave"></i></div>
                <div class="dash-card-content">
                  <h2 class="GuardianEgyp-Medium-Web">My Leave</h2>
                </div>
              </ion-card>
            </ion-col>
             <ion-col col-6>
              <ion-card class="dash-card dash-bg-berder-4" (click)="goHelp()">
                <div class="dash-card-icon"><i class="flaticon-list"></i></div>
                <div class="dash-card-content">
                  <h2 class="GuardianEgyp-Medium-Web">HelpMate</h2>
                </div>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card class="dash-card dash-bg-berder-5" (click)="goSoftloan()">
                <div class="dash-card-icon"><img src="assets/imgs/loan.svg" height="50"></div>
                <div class="dash-card-content">
                  <h2 class="GuardianEgyp-Medium-Web">Soft Loan</h2>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>         
</ion-content>
