<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="main-container"> 
    <ion-grid class="el-balence">
      <ion-card class="el-balence-card">
          <ion-row>
            <ion-col col-12>
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Emergency Contact No. </span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{emergencyContactNumber}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>     

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Current Address</span> 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{addressWheelsSite}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Secondry Email ID</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{secondaryEmailId}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Date of Joining</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{originalDateOfHire}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Voice Port</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{voicePort}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Data Port</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">  {{dataPort}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Domain</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{domain}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

               <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">LE</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">  {{lE_NAME}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Department</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{department}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

            </ion-col>  

            

          </ion-row>
      </ion-card>
  </ion-grid>
       
</ion-content>
