ion-loading{
.loading-wrapper {
color: #000;
background:transparent !important;
padding:0 !important;
}
.loading-md .loading-wrapper{background:transparent !important;}
.loading-wrapper .loading-content{width:50px;}
.loading-wrapper .loading-content img{width: 100%;}
}
    