<!--
  Generated template for the ElBalancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="navbar-info">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
                <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
            </ion-col>
            <ion-col  col-6>
                <div class="title-box GuardianEgyp-Medium-Web" >My Page</div>
            </ion-col>
            <ion-col  col-4 style="text-align: right">
                <div class="userprofile" (click)="goProfile()">
                    <img src="assets/imgs/userdefault.jpg">
                </div>
                <div class="right-info" (click)="logout()">
                  <i class="flaticon-logout-1" ></i>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>      
    </ion-navbar>
</ion-header>
<ion-content class="main-container"> 
    <ion-grid class="el-balence">
      <ion-card class="el-balence-card">
          <ion-row>
            <ion-col col-8>
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{fullName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>     

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Leave Type</span> 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">Earned Leave</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">HRM Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{hrmName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Supervisor Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{supervisorName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 
            </ion-col>  

             <ion-col col-4>
              <div class="El-Balance-box">
                <div class="elbacl-box"> 
                  <span class="heading-title GuardianEgyp-Medium-Web">{{earnedLeaveBalance}}</span>                                
                </div>
                <p class="GuardianEgyp-Regular-Web">Earned Leave Balance</p>
              </div>                           
            </ion-col>  

          </ion-row>
      </ion-card>
  </ion-grid>
       
</ion-content>

