page-work-history {
.header{background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
.navbar-info .toolbar-background-ios,
.navbar-info .toolbar-background-md{border:none;background:transparent;}
.navbar-info .back-button{padding: 0 0;min-width: 30px;color: #74848e;}
.back-button-text{display:none;}
.userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
.userprofile img{width: 100%;border-radius: 50%;}
.right-info{display: inline-block;    vertical-align: middle;}
.logo img{ height: 40px;}
.title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
.right-info {padding: 10px 0;}
.right-info i{font-size: 25px;color: #74848e;}
.main-container {background: transparent;}
.work-card {border: 1px solid #00aecf;padding: 10px; border-radius:5px; text-align: left;margin: 0;width: 100%;-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);}
.work-card-box{border-bottom:1px solid #e5ecf3; padding: 10px 0;}
.work-card-icon { margin-right:10px;display: inline-block;background: #eaeceb;width: 40px;text-align:center;height: 40px;line-height: 40px;font-size: 25px;border-radius: 50%;}
.work-card-icon i{color: #74848e;}
.work-card-content{display: inline-block;}
.heading-title {font-size:16px;color: #74848e; }

.work-first-child .heading-title {color: #00aed0; }
.work-first-child  .work-card-icon{background: #00aed0;}
.work-first-child  .work-card-icon  i{color: #fff;}

}
ion-loading{

    .loading-wrapper {
    color: #000;
    background:#fff !important;
    padding:0 !important;
    }
        .loading-wrapper .loading-content{width:50px;}
        .loading-wrapper .loading-content img{width: 100%;}
      }
    
