page-learning-tab {
.header{background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
.navbar-info .toolbar-background-ios,
.navbar-info .toolbar-background-md{border:none;background:transparent;}
.navbar-info .back-button{padding: 0 0;min-width: 30px;color: #74848e;}
.back-button-text{display:none;}
.userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
.userprofile img{width: 100%;border-radius: 50%;}
.right-info{display: inline-block;    vertical-align: middle;}
.logo img{ height: 40px;}
.title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
.right-info {padding: 10px 0;}
.right-info i{font-size: 25px;color: #74848e;}
.main-container {background: transparent;}
.fab-container {position:relative;clear: both;width: 100%;height: -webkit-fill-available;}
.HourValue span {background: #fff;box-shadow: 0 0 30px #eee;width: 50px;height: 60px;border-radius: 5px;display: inline-block;text-align: center;line-height: 60px;font-size: 25px;border: 1px solid #00BCD4  ;margin: 1px;}
.chart-content{padding: 10px; margin-bottom: 10px !important; border-radius:5px; text-align: left;margin: 0;width: 100%;-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);}
.chart-content h2{ color: #74848e; font-size: 20px;text-align: left;}
.HourValue {text-align: left; margin-bottom: 10px;}

.btn-launch a {background: #ff555f;margin-top: 10px;color: #fff;padding: 10px;border-radius: 5px;display: inline-block;font-size: 14px;}
.chart-card-box{display: flex; align-items: center; height: 100%; justify-content: center;    flex-direction: column; -webkit-box-align: center;}
.work-card-box{padding: 10px 0;}
.main-container .card-content{display: flex;    width: 100%; margin: 0; align-items: center; height: 100%; justify-content: center;flex-direction: column; -webkit-box-align: center;}
.fab-container super-tabs { background: #fff; border-bottom: 1px solid #e5ecf3; }
.tab-button-text{font-family: 'Guardian Egyptian Web';  font-weight:500;}
.indicator{ background-color: #00aecf;}
.fab-container super-tabs  .tabbar .tab-button:hover:not(.disable-hover), 
.fab-container super-tabs .tabbar .tab-button[aria-selected=true] {
    color: #00aecf;
}
}
