    /*
    Flaticon icon font: Flaticon
    Creation date: 19/06/2018 11:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-1234:before { content: "\f100"; }
.flaticon-logout-1:before { content: "\f101"; }
.flaticon-logout:before { content: "\f102"; }
.flaticon-user-1:before { content: "\f103"; }
.flaticon-phone-receiver:before { content: "\f104"; }
.flaticon-skype-logo:before { content: "\f105"; }
.flaticon-magnifying-glass-1:before { content: "\f106"; }
.flaticon-magnifying-glass:before { content: "\f107"; }
.flaticon-group-1:before { content: "\f108"; }
.flaticon-employee:before { content: "\f109"; }
.flaticon-placeholder:before { content: "\f10a"; }
.flaticon-collaboration:before { content: "\f10b"; }
.flaticon-small-calendar:before { content: "\f10c"; }
.flaticon-partner:before { content: "\f10d"; }
.flaticon-user:before { content: "\f10e"; }
.flaticon-candidates:before { content: "\f10f"; }
.flaticon-group:before { content: "\f110"; }
.flaticon-pie-chart:before { content: "\f111"; }
.flaticon-reading:before { content: "\f112"; }
.flaticon-profile:before { content: "\f113"; }
.flaticon-padlock:before { content: "\f114"; }
    
    $font-Flaticon-1234: "\f100";
    $font-Flaticon-logout-1: "\f101";
    $font-Flaticon-logout: "\f102";
    $font-Flaticon-user-1: "\f103";
    $font-Flaticon-phone-receiver: "\f104";
    $font-Flaticon-skype-logo: "\f105";
    $font-Flaticon-magnifying-glass-1: "\f106";
    $font-Flaticon-magnifying-glass: "\f107";
    $font-Flaticon-group-1: "\f108";
    $font-Flaticon-employee: "\f109";
    $font-Flaticon-placeholder: "\f10a";
    $font-Flaticon-collaboration: "\f10b";
    $font-Flaticon-small-calendar: "\f10c";
    $font-Flaticon-partner: "\f10d";
    $font-Flaticon-user: "\f10e";
    $font-Flaticon-candidates: "\f10f";
    $font-Flaticon-group: "\f110";
    $font-Flaticon-pie-chart: "\f111";
    $font-Flaticon-reading: "\f112";
    $font-Flaticon-profile: "\f113";
    $font-Flaticon-padlock: "\f114";