page-dashboard {
.header{background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
.navbar-info .toolbar-background-ios,
.navbar-info .toolbar-background-md{border:none;background:transparent;}
.navbar-info .back-button{padding: 0 0;min-width: 30px;color: #74848e;}
.back-button-text{display:none;}
.userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
.userprofile img{width: 100%;border-radius: 50%;}
.right-info{display: inline-block;    vertical-align: middle;}
.logo img{ height: 40px;}
.logo {display: flex;align-items: center;height: 100%;}
.title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
.right-info {padding: 10px 0;}
.right-info i{font-size: 25px;color: #74848e;}
.main-container {background: transparent;}
.dash-card {padding: 10px; border-radius:5px; text-align: center;margin: 0;width: 100%;-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);}
.dash-bg-berder-1{ border:1px solid #fe555e; background:#fe555e ; min-height: 150px;display: flex; align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;} 
.dash-bg-berder-2{ border:1px solid #00aed0; background:#00aed0 ;min-height: 150px; display: flex;align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.dash-bg-berder-3{ border:1px solid #083262;background:#083262 ; min-height: 150px; display: flex; align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;} 
.dash-bg-berder-4{ border:1px solid #bfc0c1;background:#bfc0c1 ; min-height: 150px; display: flex; align-items: center; flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.dash-card-icon{ margin-bottom: 10px;}
.dash-card-icon i {font-size: 55px; color: #ffffff;}
.dash-card-content h2{ color: #ffffff; font-size: 20px;}
}