<ion-header>
    <ion-navbar class="navbar-info">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
                <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
            </ion-col>
            <ion-col  col-6>
                <div class="title-box GuardianEgyp-Medium-Web"> My Page</div>
            </ion-col>
            <ion-col  col-4 style="text-align: right">
                <div class="userprofile" (click)="goProfile()">
                    <img src="assets/imgs/userdefault.jpg">
                </div>
                <div class="right-info" (click)="logout()">
                  <i class="flaticon-logout-1" ></i>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>      
    </ion-navbar>
</ion-header>
<ion-content  class="main-container">
<ion-list class="main-list" *ngFor="let traningData of myTrainingsCollection; let i=index">
  <ion-grid class="gp-traning">
    <ion-card class="gp-help-card" (click)="openModal(i)">
        <ion-row>
          <ion-col col-9>
            <div class="gp-card-box">              
              <div class="work-card-content">
                <h2 class="heading-title GuardianEgyp-Regular-Web"> {{traningData.TitleFromSRD__c}}</h2>                                 
                <span class="heading-title GuardianEgyp-LightIt-Web"> {{traningData.Request_Number__c }}</span><span style="padding:0 10px;">|</span><span class="heading-title GuardianEgyp-LightIt-Web">{{traningData.Submit_Date__c | date:'medium'}}</span>                                 
              </div>
            </div>                           
          </ion-col>
          <ion-col col-3>
            <div class="action-box">
            <div class="action-box-icon"><i class="flaticon-tick" (click)="goApprove(i,'Approving Ticket')"></i><i class="flaticon-multiply"  (click)="goApprove(i,'Rejecting Ticket')" ></i></div>
            </div>
          </ion-col>             
        </ion-row>
    </ion-card>
  </ion-grid>
</ion-list>
</ion-content>