page-active-trainigs {
.gp-traning-card { position: relative;border-bottom: 1px solid #e5ecf3 !important;padding: 10px 0;text-align: left;margin: 0;width: 100%;box-shadow: none;border-radius: 0;margin-bottom: 1px;}
.gp-card-box { display: flex;}
.work-card-icon {margin-right: 10px;display: inline-block;background: #eaeceb;width: 50px;text-align: center;height: 50px;line-height: 50px;font-size: 25px;border-radius: 50%;padding: 0 10px;}

.work-card-icon i{color: #00adcf;}
.work-card-content{display: inline-block;}
.heading-title {font-size:16px;color: #74848e; }
.Status-box {position: absolute;top: 5px;right: 5px;}
.work-card-content h2{color: #74848e;font-size: 16px !important; text-align: left; line-height: 30px;}
.work-card-content Span{color: #74848e;font-size: 14px; text-align: left;line-height: 30px;}
    
// .gp-traning-card { position: relative;border-bottom: 1px solid #e5ecf3 !important;padding: 10px 0;text-align: left;margin: 0;width: 100%;box-shadow: none;border-radius: 0;margin-bottom: 1px;}
// .gp-card-box { display: flex;}
// .work-card-icon {margin-right: 10px;display: inline-block;background: #eaeceb;width: 50px;text-align: center;height: 50px;line-height: 50px;font-size: 25px;border-radius: 50%;padding: 0 10px;}

// .work-card-icon i{color: #00adcf;}
// .work-card-content{display: inline-block;}
// .heading-title {font-size:16px;color: #74848e; }
// .Status-box {position: absolute;top: 5px;right: 5px;}
// .work-card-content h2{color: #74848e;font-size: 16px; text-align: left; line-height: 30px;}
// .work-card-content Span{color: #74848e;font-size: 14px; text-align: left;line-height: 30px;}
}
ion-loading{

    .loading-wrapper {
    color: #000;
    background:#fff !important;
    padding:0 !important;
    }
        .loading-wrapper .loading-content{width:50px;}
        .loading-wrapper .loading-content img{width: 100%;}
      }
    