<ion-content>
<ion-list *ngFor="let traningData of myTrainingsCollection">
  <div *ngIf="traningData.Status == 'Registered' || traningData.Status === 'In Progress'">
  <ion-grid class="gp-traning">
    <ion-card class="gp-traning-card">
        <ion-row>
          <ion-col col-12>
            <div class="gp-card-box">              
              <div class="work-card-icon"><i class="flaticon-1234"></i></div>
              <div class="work-card-content">
                <h2 class="heading-title GuardianEgyp-Regular-Web">{{traningData.TrainingTitle}}</h2>                                 
                <span class="heading-title GuardianEgyp-LightIt-Web">Due Date: {{traningData.DueDate | date : 'yyyy/MM/dd'}}  |  Total Training Hours: {{traningData.TotalTrainingHours}}</span>                                 
              </div>
            </div>                           
          </ion-col>             
        </ion-row>
        <div class="Status-box">
          <div style="width:10px;height:10px;" [ngStyle]="{'background-color':traningData.Status === 'Registered' ? '#fbb901' : traningData.Status === 'In Progress' ? '#fbb901':'' }"></div>
        </div>
    </ion-card>
  </ion-grid>
  </div>
</ion-list>
</ion-content>




