.card-md {
    margin: 5px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ion-card {
    display: block;
    overflow: hidden;
    margin: 5px;
}
.ion-app.md [padding] .scroll-content {
    padding: 5px;
}
.item-md {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}
ion-app.md [padding] .scroll-content {
     padding: 0px; 
}
 
.main-container{
    background:#eef5fb;
}
.main-container .scroll-content{ padding: 10px;}
  .card-box {
    margin: 0px;
    width: 100%;
}


h1.main-title {
    padding: 0;
    font-size: 16px;
    margin-top: 10px;
}

  .grid {
     padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gp-value-content .list .col{padding:5px 0;}

.gp-value-content .list .col .label-md {
    margin: 0;
    font-size: 14px;color: #000080;
}
.gp-value-content .list .col .label-md span{    
    color: #666;
    padding-left: 5px;
}
.heading-id{font-weight: 600;}
.card-box .label-md {
    margin: 0;
    font-size: 14px;color: #000080;
}
.card-box .label-md span{    
    color: #666;
    padding-left: 5px;
}
.navbar-info .toolbar-background-ios {background: #fb5561;
    background: -webkit-gradient(linear, left top, right top, from(#fb5561), to(#0e3363));
    background: linear-gradient(to right, #fb5561 0%, #0e3363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5561', endColorstr='#0e3363',GradientType=1 ); }

.logo img{height: 30px;}
.title-box {
    padding: 13px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
ion-loading{

    .loading-wrapper {
    color: #000;
    background:#fff !important;
    padding:0 !important;
    }
        .loading-wrapper .loading-content{width:50px;}
        .loading-wrapper .loading-content img{width: 100%;}
      }
    