<ion-content class="main-container"> 
    <ion-grid class="el-balence">
      <ion-card class="el-balence-card">
          <ion-row>
            <ion-col col-12>
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{firstName+" "+lastName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>     

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Email</span> 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{email}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">OHRID</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{employeeId}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Date of Joining</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{originalDateOfHire}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Band</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{bandCode}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Designation</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{designation}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Supervisor Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{supervisorName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

            </ion-col>  

            

          </ion-row>
      </ion-card>
  </ion-grid>
       
</ion-content>


