<!--
  Generated template for the WorkHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="navbar-info">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
                <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
            </ion-col>
            <ion-col  col-6>
                <div class="title-box GuardianEgyp-Medium-Web" > My Page</div>
            </ion-col>
            <ion-col  col-4 style="text-align: right">
                <div class="userprofile" (click)="goProfile()">
                    <img src="assets/imgs/userdefault.jpg">
                </div>
                <div class="right-info" (click)="logout()">
                  <i class="flaticon-logout-1" ></i>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>      
    </ion-navbar>
</ion-header>

<ion-content class="main-container">
  <ion-list *ngFor="let traningData of myTrainingsCollection">
    <ion-grid class="work-history">
      <ion-card class="work-card">
          <ion-row>
            <ion-col col-12>
              <div class="work-card-box work-first-child">              
                <div class="work-card-icon"><i class="flaticon-user"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web">{{traningData.JOB}}</span>                                 
                  <span class="heading-title GuardianEgyp-Regular-Web">{{traningData.GRADE}}</span>                                 
                </div>
              </div>                           
            </ion-col>  

            <ion-col col-12>
              <div class="work-card-box">              
                <div class="work-card-icon"><i class="flaticon-group-1"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web"> {{traningData.BUSINESS_GROUP_NAME}}</span>                                 
                </div>
              </div>                           
            </ion-col> 

            <ion-col col-12>
              <div class="work-card-box">              
                <div class="work-card-icon"><i class="flaticon-partner"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web">{{traningData.PROCESS}}</span>                                 
                </div>
              </div>                           
            </ion-col> 

             <ion-col col-12>
              <div class="work-card-box">              
                <div class="work-card-icon"><i class="flaticon-small-calendar"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web">{{traningData.ASSIGNMENT_START_DATE | date :'longDate'}}</span>                                 
                  <span class="heading-title GuardianEgyp-Regular-Web">{{traningData.ASSIGNMENT_END_DATE | date :'longDate'}}</span>                                 
                </div>
              </div>                           
            </ion-col> 

            <ion-col col-12>
              <div class="work-card-box">              
                <div class="work-card-icon"><i class="flaticon-employee"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web">Manager {{traningData.SUPERVISOR_NAME}}</span>                                 
                </div>
              </div>                           
            </ion-col> 

             <ion-col col-12>
              <div class="work-card-box">              
                <div class="work-card-icon"><i class="flaticon-placeholder"></i></div>
                <div class="work-card-content">
                  <span class="heading-title GuardianEgyp-Regular-Web"> {{traningData.WORK_LOCATION_CODE}}</span>                                 
                  <span class="heading-title GuardianEgyp-Regular-Web"> {{traningData.BASE_LOCATION}}</span>                                 
                </div>
              </div>                           
            </ion-col> 


          </ion-row>
      </ion-card>
      </ion-grid>
  </ion-list>         
</ion-content>
