<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->
<!-- <ion-content class="main-container">
    <ion-card class="card-box">
      <ion-card-content class="gp-value-content">
        <ion-list>
          
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>OHRID</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    {{employeeId}}
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Email</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  {{email}}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>SDO</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    {{sdo}}
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
  
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Date of Joining</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  {{originalDateOfHire}}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Band</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  {{bandCode}}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid style="border-bottom: 1px solid;color: #cccccc">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>SupervisorName</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  {{supervisorName}}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content> -->
