page-login {

    

.background{
background-image: url('../assets/imgs/initialImage@3x.png'); background-size: cover;

}

.login-logo {
    padding: 20px 0;
}
.toolbar-title-md {
padding: 0 12px;
font-size: 2rem;
font-weight: 500;
color: #424242;
text-align:  center;
}

.myphoto {
ion-content img {
height: 70vh !important;
width: auto !important;
align-items: center;
}
}
.login-logo img{width: 80px;}
.login-logo-text{margin-bottom: 50px; }

.login-logo-text h2{background: -webkit-linear-gradient(left, #fb5561, #0e3363);
background: linear-gradient(left, #fb5561, #0e3363);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; font-size: 35px;}
.login-logo-text img{width: 120px;}
.login-form-list .item-block:first-child {
border-top: 0.55px solid transparent; 
}
.login-form-control{padding-left: 0;}

.login-form-list .item-input:last-child{border: none;}

.login-form-control .item-inner{
    border-bottom: 1px solid #eee !important;
}

.login-form-list .input-has-focus .item-inner {
    border-bottom: 1px solid #02aed0 !important;
    box-shadow: none !important;
}

.page-login .button {
background: #FF545E;
border-radius: 2px;
width: 100%;
margin: 20px auto 15px auto;
}
.button-md:hover:not(.disable-hover) {
    background-color: #FF545E;
}
.login-form-control{margin-bottom: 20px;}
.login-form-list .form-cantrol .text-input{color: #6b7f8a;font-size: 16px;text-transform: uppercase;}
.login-form-list .login-form-control .icon-ios{font-size: 24px; color:#083361;}
.gp-msg-alert {
    color: #FF545E;
    font-size: 14px;
    text-align: left;
    padding:0px 0;
    margin-bottom: 10px;
}// .card .list .item{
//     border-bottom: 1px solid gray;
// }

// .left-image{
//     float:left;
//     max-width: 80px !important;
//     max-height: 80px !important;
//   }
.button-md
{
    background: #fb5561;
    background: -moz-linear-gradient(left, #fb5561 0%, #0e3363 100%);
    background: -webkit-linear-gradient(left, #fb5561 0%,#0e3363 100%);
    background: linear-gradient(to right, #fb5561 0%,#0e3363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5561', endColorstr='#0e3363',GradientType=1 );        

}
.login-card {
    background: url(../assets/imgs/splash1x.png);
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover;
}

.login-card .content-ios{background:transparent;}
.login-card  .content-md{background:transparent;}
.login-card .card-md{ margin: 0 auto;border-radius: 10px;}
.login-card .card-md p{text-align: left;}
    
    
    }



    