<ion-content class="login-card page-login toolbar-title-md">
    <ion-title class="login-logo">
        <img src="assets/imgs/layer_3@3x.png">
    </ion-title>

    <ion-title class="login-logo-text GuardianEgyp-Bold-Web">
        <h2>My Page Login</h2>
    </ion-title>

    <form [formGroup]="credentialsForm" (ngSubmit)="verify()">
        <ion-card-content>
            <ion-list class="login-form-list">
                <ion-item class="login-form-control">
                    <ion-label>
                        <!-- {{credentialsForm.controls.user_email.valid}} {{credentialsForm.controls.user_email.touched}}  -->
                        <ion-icon class="flaticon-profile"></ion-icon>
                    </ion-label>
                    <ion-input type="text" placeholder="OHRID" class="form-cantrol GuardianEgyp-Regular-Web" formControlName="user_email"></ion-input>
                </ion-item>
                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_email.touched  && (!credentialsForm.controls.user_email.valid)">
                    Please enter mendatory field
                </p>
                <ion-item class="login-form-control">
                    <ion-label>
                        <!-- {{credentialsForm.controls.user_password.valid}} {{credentialsForm.controls.user_password.touched}} -->
                        <ion-icon class="flaticon-padlock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" class="form-cantrol GuardianEgyp-Regular-Web" placeholder="Password" formControlName="user_password"></ion-input>
                </ion-item>
                <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="credentialsForm.controls.user_password.touched  && (!credentialsForm.controls.user_password.valid)">
                    Please enter mendatory field
                </p>
            </ion-list>
            <p class="gp-msg-alert GuardianEgyp-Light-Web" *ngIf="showResultMessage">
                {{message}}
            </p>
            <button ion-button full type="submit" class="GuardianEgyp-Semibold-Web btnlogin">
                <ion-icon name="favicon"></ion-icon>Login
            </button>
        </ion-card-content>
    </form>
</ion-content>