  // .my-class {
  //   background-color: transparent;
  //   box-shadow: none;
  // }
  ion-loading{
    .loading-md .loading-wrapper{background:transparent !important;}

    .loading-md .loading-wrapper{background:transparent !important;box-shadow: none !important;}
    .loading-wrapper {color: #000; background:transparent !important;box-shadow: none !important;padding:0 !important;}
    .loading-wrapper .loading-content{width:50px;}
    .loading-wrapper .loading-content img{width: 100%;}
  }
