<ion-content class="main-container"> 
    <ion-grid class="el-balence">
      <ion-card class="el-balence-card">
          <ion-row>
            <ion-col col-12>
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{lastName+","+firstName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>     
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">OHRID</span> 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">  {{employeeId}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>    

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Date of Joining</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{originalDateOfHire}}</span>                                 
                  </ion-col>
                </ion-row>
              </div>   

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Band</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{bandCode}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Designation</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{designation}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Client</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{department}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

               <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Supervisor Name</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{supervisorName}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

               <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Location</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{locationCode}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 

               <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">Building</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{locationId}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">PFNumber</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{pfNumberFirst}}</span>  
                        <span *ngIf="show" class="heading-title-velue GuardianEgyp-Regular-Web">{{","}}</span>                                 
                        <span *ngIf="show" class="heading-title-velue GuardianEgyp-Regular-Web">{{pfNumberSecond}}</span>                                                                
                  </ion-col>
                </ion-row>
              </div> 
              <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">UANNumber</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web">{{uanNumber}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 
            </ion-col> 
          </ion-row>
      </ion-card>
  </ion-grid>
</ion-content>
