<ion-header>
<ion-navbar class="navbar-info">
    <ion-grid>
        <ion-row>
        <ion-col col-2>
            <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
        </ion-col>
        <ion-col  col-6>
            <div class="title-box GuardianEgyp-Medium-Web" > My Page</div>
        </ion-col>
        <ion-col  col-4 style="text-align: right">
            <div class="userprofile" (click)="goProfile()">
                <img src="assets/imgs/userdefault.jpg">
            </div>
            <div class="right-info" (click)="logout()">
                <i class="flaticon-logout-1" ></i>
            </div>
        </ion-col>
        </ion-row>
    </ion-grid>      
</ion-navbar>
</ion-header>

<ion-content class="main-container">
<ion-tabs>
    <ion-tab [root]="softLoanRoot" tabTitle="Soft Loan"></ion-tab>
    <ion-tab [root]="prePaymentLoanRoot" tabTitle="Pre Payment of loan"></ion-tab>
</ion-tabs>
</ion-content>