page-softloantab {
    .header{background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
    .navbar-info .toolbar-background-ios,
    .navbar-info .toolbar-background-md{border:none;background:transparent;}
    .navbar-info .back-button{padding: 0 0;min-width: 30px;color: #74848e;}
    .back-button-text{display:none;}
    .userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
    .userprofile img{width: 100%;border-radius: 50%;}
    .right-info{display: inline-block;    vertical-align: middle;}
    .logo img{ height: 40px;}
    .logo {display: flex;align-items: center;height: 100%;}
    .title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
    .right-info {padding: 10px 0;}
    .right-info i{font-size: 25px;color: #74848e;}
    .main-container {background: transparent;}
}
