
<ion-header>
  <ion-navbar class="navbar-info">
      <ion-grid>
        <ion-row>          
          <ion-col  col-10>
              <div class="title-box GuardianEgyp-Medium-Web" >Ticket Details</div>
          </ion-col>
          <ion-col col-2>
            <div class="icon-header-close"><i class="flaticon-multiply" (click)= "closeModal()"></i></div>
          </ion-col>          
        </ion-row>
      </ion-grid>      
  </ion-navbar>
</ion-header>

<ion-content class="main-container"> 
  <ion-grid class="el-balence">
    <ion-card class="el-balence-card">
        <ion-row>
          <ion-col col-12>
            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Request Number</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">{{reqest_num}}</span>                                 
                </ion-col>
              </ion-row>
            </div>     
            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                    <span class="heading-title GuardianEgyp-Regular-Web">Request Name</span> 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">  {{reqest_name}}</span>                                 
                </ion-col>
              </ion-row>
            </div>    

            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Request OHRID</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{reqest_ohr}}</span>                                 
                </ion-col>
              </ion-row>
            </div>   

            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Band</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">{{bandCode}}</span>                                 
                </ion-col>
              </ion-row>
            </div> 

            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Cost Code</span>                                 
                </ion-col>
                <ion-col>
                      <!-- <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{}}</span>                                  -->
                </ion-col>
              </ion-row>
            </div> 
            <div class="el-balence-card-box">
                <ion-row>
                  <ion-col>
                        <span class="heading-title GuardianEgyp-Regular-Web">COE</span>                                 
                  </ion-col>
                  <ion-col>
                        <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{assAttribute21}}</span>                                 
                  </ion-col>
                </ion-row>
              </div> 
            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">SDO</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{assAttribute22}}</span>                                 
                </ion-col>
              </ion-row>
            </div> 

             <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">LE</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web"> {{leCode}}</span>                                 
                </ion-col>
              </ion-row>
            </div> 

             <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Base Location</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">{{base_location}}</span>                                 
                </ion-col>
              </ion-row>
            </div> 

             <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Supervisor Name</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">{{supervisorName}}</span>                                 
                </ion-col>
              </ion-row>
            </div> 
            <div class="el-balence-card-box">
              <ion-row>
                <ion-col>
                      <span class="heading-title GuardianEgyp-Regular-Web">Details</span>                                 
                </ion-col>
                <ion-col>
                      <span class="heading-title-velue GuardianEgyp-Regular-Web">{{details}}</span>  
                </ion-col>
              </ion-row>
            </div>
          </ion-col> 
        </ion-row>
    </ion-card>
</ion-grid>

</ion-content>
