<ion-header>
        <ion-navbar class="navbar-info">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                    <div class="logo"><img src="assets/imgs/logogenp.png" /></div>
                </ion-col>
                <ion-col  col-6>
                    <div class="title-box GuardianEgyp-Medium-Web" > My Page</div>
                </ion-col>
                <ion-col  col-4 style="text-align: right">
                    <div class="userprofile" (click)="goProfile()">
                        <img src="assets/imgs/userdefault.jpg">
                    </div>
                    <div class="right-info" (click)="logout()">
                      <i class="flaticon-logout-1" ></i>
                    </div>
                </ion-col>
              </ion-row>
            </ion-grid>      
        </ion-navbar>
    </ion-header>
<ion-content class="main-container">
    <ion-card class="chart-content">
        <ion-row>
            <ion-col col-7>               
               <h2 class="GuardianEgyp-Medium-Web"> Hours</h2>
               <div class="HourValue GuardianEgyp-Medium-Web"><span>00</span><span>22</span><span>33</span></div>
               <p class="GuardianEgyp-Regular-Web">Total Training Hours Spend</p>
               <div class="btn-launch GuardianEgyp-Medium-Web">
                    <a href="#" onclick="window.open('https://gateway.genpact.com/ilearn/', '_system', 'location=yes');" >iLearn Website</a>
               </div>
            </ion-col>
            <ion-col col-5>
                <div class="chart-card-box">
                    <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                        [options]="pieChartOptions">
                    </canvas>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card class="card-content"> 
        <div class="fab-container">
               <super-tabs class="tabs" [scrollTabs]="scrollTabs">
                        <super-tab class="tab-link"  [root]="mandatoryTrainigsRoot"   title="MANDATORY TRAINING"></super-tab>
                        <super-tab class="tab-link" [root]="activeTrainigsRoot"  title="ACTIVE TRAINING"></super-tab>
                        <super-tab class="tab-link"  [root]="pastDueTrainingsRoot"  title="PAST DUE TRAINING"></super-tab>
               </super-tabs>
            <!-- <ion-tabs>                    
                <ion-tab class="tab-link" [root]="mandatoryTrainigsRoot" [rootParams]="tab2Params" tabTitle="Mandatory Trainings"></ion-tab>
                <ion-tab class="tab-link" [root]="activeTrainigsRoot" [rootParams]="tab2Params" tabTitle="Active Trainings"></ion-tab>
                <ion-tab class="tab-link" [root]="pastDueTrainingsRoot" tabTitle="Past due Trainings"></ion-tab>
            </ion-tabs>  -->
        </div>
    </ion-card>
</ion-content>




