/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2017 Schwartzco Inc.
        License: 1709-TPUDVO     
*/


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-BlackIt-Web.eot');
  src: url('GuardianEgyp-BlackIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-BlackIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-BlackIt-Web.woff') format('woff');
  font-weight:  800;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-BlackIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  800;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Black-Web.eot');
  src: url('GuardianEgyp-Black-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Black-Web.woff2') format('woff2'),
       url('GuardianEgyp-Black-Web.woff') format('woff');
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Black-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-BoldIt-Web.eot');
  src: url('GuardianEgyp-BoldIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-BoldIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-BoldIt-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-BoldIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Bold-Web.eot');
  src: url('GuardianEgyp-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Bold-Web.woff2') format('woff2'),
       url('GuardianEgyp-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Bold-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-SemiboldIt-Web.eot');
  src: url('GuardianEgyp-SemiboldIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-SemiboldIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-SemiboldIt-Web.woff') format('woff');
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-SemiboldIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Semibold-Web.eot');
  src: url('GuardianEgyp-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Semibold-Web.woff2') format('woff2'),
       url('GuardianEgyp-Semibold-Web.woff') format('woff');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Semibold-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-MediumIt-Web.eot');
  src: url('GuardianEgyp-MediumIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-MediumIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-MediumIt-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-MediumIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Medium-Web.eot');
  src: url('GuardianEgyp-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Medium-Web.woff2') format('woff2'),
       url('GuardianEgyp-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Medium-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-RegularIt-Web.eot');
  src: url('GuardianEgyp-RegularIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-RegularIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-RegularIt-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-RegularIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Regular-Web.eot');
  src: url('GuardianEgyp-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Regular-Web.woff2') format('woff2'),
       url('GuardianEgyp-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Regular-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-LightIt-Web.eot');
  src: url('GuardianEgyp-LightIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-LightIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-LightIt-Web.woff') format('woff');
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-LightIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Light-Web.eot');
  src: url('GuardianEgyp-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Light-Web.woff2') format('woff2'),
       url('GuardianEgyp-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Light-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-ThinIt-Web.eot');
  src: url('GuardianEgyp-ThinIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-ThinIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-ThinIt-Web.woff') format('woff');
  font-weight:  200;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-ThinIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  200;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Thin-Web.eot');
  src: url('GuardianEgyp-Thin-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Thin-Web.woff2') format('woff2'),
       url('GuardianEgyp-Thin-Web.woff') format('woff');
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Thin-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-HairlineIt-Web.eot');
  src: url('GuardianEgyp-HairlineIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-HairlineIt-Web.woff2') format('woff2'),
       url('GuardianEgyp-HairlineIt-Web.woff') format('woff');
  font-weight:  100;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianEgyp-HairlineIt-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  100;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url('GuardianEgyp-Hairline-Web.eot');
  src: url('GuardianEgyp-Hairline-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianEgyp-Hairline-Web.woff2') format('woff2'),
       url('GuardianEgyp-Hairline-Web.woff') format('woff');
  font-weight:  100;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianEgyp-Hairline-Web {
  font-family: 'Guardian Egyptian Web';
  font-weight:  100;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-BlackIt-Web.eot');
  src: url('GuardianTextEgyp-BlackIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-BlackIt-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-BlackIt-Web.woff') format('woff');
  font-weight:  900;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianTextEgyp-BlackIt-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  900;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-Black-Web.eot');
  src: url('GuardianTextEgyp-Black-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-Black-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-Black-Web.woff') format('woff');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianTextEgyp-Black-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-BoldIt-Web.eot');
  src: url('GuardianTextEgyp-BoldIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-BoldIt-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-BoldIt-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianTextEgyp-BoldIt-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-Bold-Web.eot');
  src: url('GuardianTextEgyp-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-Bold-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianTextEgyp-Bold-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-MediumIt-Web.eot');
  src: url('GuardianTextEgyp-MediumIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-MediumIt-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-MediumIt-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianTextEgyp-MediumIt-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-Medium-Web.eot');
  src: url('GuardianTextEgyp-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-Medium-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianTextEgyp-Medium-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-RegularIt-Web.eot');
  src: url('GuardianTextEgyp-RegularIt-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-RegularIt-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-RegularIt-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.GuardianTextEgyp-RegularIt-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Guardian Text Egyptian Web';
  src: url('GuardianTextEgyp-Regular-Web.eot');
  src: url('GuardianTextEgyp-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('GuardianTextEgyp-Regular-Web.woff2') format('woff2'),
       url('GuardianTextEgyp-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.GuardianTextEgyp-Regular-Web {
  font-family: 'Guardian Text Egyptian Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

