page-help-mate {
.header{background:#ffffff;-webkit-box-shadow:0 0px 40px rgba(15,60,216,.2);box-shadow:0 0px 40px rgba(15,60,216,.2);}
.navbar-info .toolbar-background-ios,
.navbar-info .toolbar-background-md{border:none;background:transparent;}
.navbar-info .back-button{padding: 0 0;min-width: 30px;color: #74848e;}
.back-button-text{display:none;}
.userprofile {background: #eef5fb;vertical-align: middle;margin-right: 10px;width: 40px;height:40px;border-radius: 50%;text-align: center; display: inline-block;}
.userprofile img{width: 100%;border-radius: 50%;}
.right-info{display: inline-block;    vertical-align: middle;}
.logo img{ height: 40px;}
.title-box {padding: 13px;color: #74848e;font-size: 20px;font-weight: bold; text-align: center;}
.right-info {padding: 10px 0;}
.right-info i{font-size: 25px;color: #74848e;}
.main-container {background: transparent;}

.main-list{margin-bottom:10px;}
.gp-help-card{padding: 10px; border-radius:5px; text-align: left;margin: 0;width: 100%;-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);box-shadow: 0 0px 30px rgba(15, 60, 216, 0.1);}

.btn-launch a {background: #ff555f;margin-top: 10px;color: #fff;padding: 10px;border-radius: 5px;display: inline-block;font-size: 14px;}
.action-box{display: flex; align-items: center; height: 100%; justify-content: center;   -webkit-box-align: center;}
.action-box i {font-size: 22px; color: #c41408; padding: 0 2px;}
.action-box{text-align: right;}
.action-box i + i {font-size: 22px; color: #4CAF50; padding: 0 2px;}
.work-card-box{padding: 10px 0;}
span.heading-title {font-size: 14px;color: #74848e;}

}
ion-loading{

    .loading-wrapper {
    color: #000;
    background:#fff !important;
    padding:0 !important;
    }
        .loading-wrapper .loading-content{width:50px;}
        .loading-wrapper .loading-content img{width: 100%;}
      }
    